.wrapper {
  --field-background: #e6e6e6;
  --error-color: #d32f2f;

  & + & {
    margin-top: 25px;
  }
}

@media (prefers-color-scheme: dark) {
  .wrapper {
    --field-background: #2f2424;
    --error-color: #ff5252;
  }
}

.fieldset {
  background-color: var(--field-background);
  border: none;
  padding: 4px 24px;
  height: 50px;
  margin-block: 10px;
  border-radius: 1px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;

  &:not(:first-of-type) {
    margin-top: 1em;
  }
}

.fieldset legend {
  font-size: 0.8125em;
  color: var(--foreground);
  background-color: var(--background);
  padding: 2px 12px;
  margin-left: 0px;
  offset-anchor: 0;
  position: absolute;
  top: -10px;
}

.fieldset:focus-within legend {
  color: var(--heading-color);
}

.fieldset input {
  font: inherit;
  background: transparent;
  border: none;
  padding: 4px 0;
  flex-grow: 1;
}

.fieldset input:focus {
  outline: none;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox a {
  color: #c9b1b1;
}

.error {
  color: var(--error-color) !important;
}

.helper-text {
  font-size: 0.8125em;

  &::before {
    content: "·";
    margin-left: 0.25em;
    margin-right: 1em;
  }
}
