.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-lato);

  h1 {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 6px;

    span {
      color: var(--cta-color);
    }
  }

  a {
    color: var(--cta-color);
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex: 1;
  max-width: 635px;
}

.footer {
  display: flex;
  justify-content: space-evenly;

  a {
    display: inline-flex;
    align-items: center;
    color: inherit;
    gap: 18px;
  }
}
